
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 37.5rem;
}.ayuda-7PY {
  display: flex;
  background-color: #000000;
  box-sizing: border-box;
  padding-bottom: 4.3rem;
  position: relative;
  align-items: center;
  width: 100%;
  overflow: hidden;
  flex-direction: column;

  .auto-group-aehy-Sgi {
    height: 6.3rem;
    display: flex;
    align-items: center;
    background-color: #111010;
    flex-shrink: 0;
    padding: 1.4rem 2.4rem 1.3rem 2.4rem;
    box-sizing: border-box;
    width: calc(100% - 0.1rem);
    margin: 0rem 0.1rem 5.3rem 0rem;

    .baselinearrowbackwhite24dp-2-L1Q {
      margin: 0.3rem 16.9rem 0rem 0rem;
      width: 3.4rem;
      height: 3.3rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
    }
    .baselinehelpwhite24dp-21-Eca {
      flex-shrink: 0;
      margin: 0rem 0.9rem 0.4rem 0rem;
      width: 3rem;
      height: 2.8rem;
      object-fit: cover;
      vertical-align: top;
    }
    .component-2-Z94 {
      margin: 0rem 0.9rem 0.4rem 0rem;
      width: 4.5rem;
      height: 3.2rem;
      cursor: pointer;
      flex-shrink: 0;

      .group-1-68z {
        width: 100%;
        height: 100%;
        position: relative;

        .baselinearrowdropdownwhite24dp-26-egJ {
          height: 2.2rem;
          position: absolute;
          left: 0;
          top: 0.5rem;
          object-fit: cover;
          vertical-align: top;
          width: 1.8rem;
        }
        .baselinepersonwhite24dp-51-a4A {
          width: 3.6rem;
          height: 3.2rem;
          position: absolute;
          left: 0.9rem;
          top: 0;
          object-fit: cover;
          vertical-align: top;
        }
      }
    }
    .component-1-VS2 {
      margin: 0.2rem 0rem 0.5rem 0rem;
      height: calc(100% - 0.7rem);
      cursor: pointer;
      flex-shrink: 0;

      .baselinemenuwhite24dp-20-Dsp {
        object-fit: cover;
        vertical-align: top;
        width: 3.1rem;
        height: 2.9rem;
      }
    }
  }
  .ayuda-jrA {
    font-family: Lexend, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
    margin: 0rem 0rem 3.9rem 1.5rem;
    text-align: center;
    font-size: 2.6rem;
    font-weight: 400;
    line-height: 1.25;
    color: #38b6ff;
  }
  .auto-group-5jjz-FZc {
    width: calc(100% - 3.6rem);
    display: flex;
    flex-direction: column;
    background-color: #38b6ff;
    flex-shrink: 0;
    margin: 0rem 1.9rem 0rem 1.7rem;
    box-sizing: border-box;
    padding: 3.1rem 3.45rem 12.2rem 3.75rem;
    align-items: center;
    border-radius: 0.7rem;

    .cmo-usar-la-pgina-xU2 {
      text-align: center;
      font-weight: 400;
      font-family: Lexend, 'Source Sans Pro';
      color: #000000;
      white-space: nowrap;
      flex-shrink: 0;
      margin-bottom: 2.8rem;
      font-size: 2.4rem;
      line-height: 1.25;
    }
    .inicia-sesin-o-registrate-elije-el-idioma-a-rcticar-elige-la-modalidad-practicada-comienza-el-cuestionario-puedes-ir-a-avance-y-perfil-cambiar-de-cuenta-si-cambias-de-cuenta-en-el-cuestionario-tu-avance-no-sera-guardado--Tfg {
      max-width: 22.4rem;
      font-size: 1.5rem;
      font-weight: 400;
      line-height: 1.25;
      color: #000000;
      font-family: Lexend, 'Source Sans Pro';
      flex-shrink: 0;
      margin-right: 2.2rem;
    }
  }
}
