
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 37.5rem;
}.login-NHx {
  align-items: center;
  background-color: #000000;
  padding: 0.9rem 1.2rem 0.8rem 2.9rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;

  .auto-group-veka-gpS {
    margin-left: 28.1rem;
    width: 5.3rem;
    height: 5.9rem;
    position: relative;
    flex-shrink: 0;

    .rectangle-105-Rn2 {
      top: 1.2rem;
      background-color: #3396f2;
      width: 3.5rem;
      height: 3.3rem;
      position: absolute;
      left: 0.8rem;
    }
    .hgj-5-xX4 {
      left: 0;
      top: 0;
      object-fit: cover;
      vertical-align: top;
      width: 5.3rem;
      height: 5.9rem;
      position: absolute;
    }
  }
  .bienvenidos-Jav {
    font-weight: 400;
    font-family: Lexend, 'Source Sans Pro';
    flex-shrink: 0;
    margin: 0rem 2.8rem 2.8rem 0rem;
    text-align: center;
    color: #38b6ff;
    white-space: nowrap;
    font-size: 2rem;
    line-height: 1.25;
  }
  .teaching-to-wolves-c5p {
    white-space: nowrap;
    text-align: center;
    font-weight: 400;
    line-height: 1.25;
    font-family: Lexend, 'Source Sans Pro';
    flex-shrink: 0;
    margin: 0rem 1.7rem 7.1rem 0rem;
    font-size: 3rem;
    color: #38b6ff;
  }
  .auto-group-emjz-vMQ {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    margin: 0rem 1.7rem 1.2rem 0rem;
    height: 7.6rem;

    .auto-group-jsls-eYJ {
      box-sizing: border-box;
      padding: 1.4rem 1rem 1.5rem 1rem;
      height: 100%;
      border: solid 0.2rem #38b6ff;
      background-color: #470dc4;
      border-radius: 3.8rem;
      flex-shrink: 0;
      margin-right: 4.7rem;

      .baselinepersonwhite24dp-22-n8i {
        height: 4.7rem;
        object-fit: cover;
        vertical-align: top;
        width: 5.6rem;
      }
    }
    .auto-group-1nfc-hFg {
      background-repeat: no-repeat;
      background-position: center;
      background-image: url('REPLACE_IMAGE:303:27');
      flex-shrink: 0;
      margin-right: 4.1rem;
      padding: 1.4rem 1.1rem 1.5rem 1.2rem;
      height: 100%;
      background-size: cover;
      box-sizing: border-box;

      .baselinepersonwhite24dp-23-dQE {
        width: 5.4rem;
        height: 4.7rem;
        object-fit: cover;
        vertical-align: top;
      }
    }
    .auto-group-blgi-wvi {
      padding: 1rem 1rem 1.9rem 1rem;
      height: 100%;
      border: solid 0.2rem #38b6ff;
      background-color: #470dc4;
      border-radius: 3.8rem;
      flex-shrink: 0;
      box-sizing: border-box;

      .baselinepersonwhite24dp-24-HUn {
        height: 4.7rem;
        object-fit: cover;
        vertical-align: top;
        width: 5.6rem;
      }
    }
  }
  .auto-group-l2ps-PXp {
    width: calc(100% - 4.9rem);
    display: flex;
    align-items: center;
    flex-shrink: 0;
    margin: 0rem 3.25rem 2.9rem 1.65rem;

    .persona-1-7ii {
      text-align: center;
      line-height: 1.2125;
      flex-shrink: 0;
      margin-right: 8.6rem;
      font-size: 0.8rem;
      font-weight: 900;
      color: #38b6ff;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
    }
    .persona-2-EoL {
      margin-right: 7.9rem;
      color: #38b6ff;
      text-align: center;
      font-size: 0.8rem;
      font-weight: 900;
      line-height: 1.2125;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
    }
    .persona-3-NPk {
      text-align: center;
      font-size: 0.8rem;
      font-weight: 900;
      line-height: 1.2125;
      color: #38b6ff;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
    }
  }
  .auto-group-dyxt-uPg {
    width: calc(100% - 25.7rem);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0rem 13.4rem 1.5rem 12.3rem;
    box-sizing: border-box;
    padding: 1.5rem;
    background-image: url('REPLACE_IMAGE:303:26');
    flex-shrink: 0;

    .addcounticon-2z6 {
      width: 4.7rem;
      height: 4.6rem;
      object-fit: cover;
      vertical-align: top;
    }
  }
  .agregar-xcr {
    text-align: center;
    font-weight: 900;
    color: #38b6ff;
    white-space: nowrap;
    margin: 0rem 1.3rem 19.1rem 0rem;
    font-size: 0.8rem;
    line-height: 1.2125;
    font-family: Inter, 'Source Sans Pro';
    flex-shrink: 0;
  }
  .derechos-reservados-unity-team-5Bg {
    text-align: center;
    line-height: 1.2125;
    margin-left: 17.6rem;
    font-weight: 900;
    color: #38b6ff;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
    font-size: 0.8rem;
  }
}
