
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 37.5rem;
}.pregunta-seis-idioma-Z8n {
  width: 100%;
  position: relative;
  align-items: center;
  box-sizing: border-box;
  padding-bottom: 8.8rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-color: #000000;

  .auto-group-fh7p-68i {
    background-color: #111010;
    flex-shrink: 0;
    margin: 0rem 0.1rem 0.8rem 0rem;
    width: calc(100% - 0.1rem);
    height: 6.3rem;
    align-items: center;
    box-sizing: border-box;
    padding: 1.4rem 2.4rem 1.7rem 2.8rem;
    display: flex;

    .traducir-frases-de-idioma-espaol-aJn {
      font-size: 0.8rem;
      font-weight: 400;
      line-height: 1.25;
      color: #f9f9f9;
      margin: 0.6rem 5.3rem 0rem 0rem;
      text-align: center;
      font-family: Lexend, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
    }
    .logoayuda-fLE {
      margin: 0.2rem 0.9rem 0.2rem 0rem;
      height: calc(100% - 0.4rem);
      cursor: pointer;
      flex-shrink: 0;

      .baselinehelpwhite24dp-21-oBY {
        object-fit: cover;
        vertical-align: top;
        width: 3rem;
        height: 2.8rem;
      }
    }
    .component-2-XdL {
      cursor: pointer;
      flex-shrink: 0;
      margin-right: 0.9rem;
      width: 4.5rem;
      height: 100%;

      .group-1-sx6 {
        width: 100%;
        height: 100%;
        position: relative;

        .baselinearrowdropdownwhite24dp-26-SkJ {
          object-fit: cover;
          vertical-align: top;
          width: 1.8rem;
          height: 2.2rem;
          position: absolute;
          left: 0;
          top: 0.5rem;
        }
        .baselinepersonwhite24dp-51-kkz {
          vertical-align: top;
          width: 3.6rem;
          height: 3.2rem;
          position: absolute;
          left: 0.9rem;
          top: 0;
          object-fit: cover;
        }
      }
    }
    .component-1-Uwt {
      margin: 0.2rem 0rem 0.1rem 0rem;
      height: calc(100% - 0.3rem);
      cursor: pointer;
      flex-shrink: 0;

      .baselinemenuwhite24dp-20-coC {
        width: 3.1rem;
        height: 2.9rem;
        object-fit: cover;
        vertical-align: top;
      }
    }
  }
  .auto-group-nmtg-9YE {
    width: calc(100% - 5.45rem);
    display: flex;
    align-items: flex-end;
    flex-shrink: 0;
    margin: 0rem 1.5rem 5.8rem 3.95rem;

    .traduce-sj8 {
      margin-right: 20.45rem;
      font-weight: 400;
      line-height: 1.25;
      color: #38b6ff;
      font-family: Lexend, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      text-align: center;
      font-size: 1.8rem;
    }
    .auto-group-16fk-o6z {
      line-height: 1.25;
      background-size: cover;
      background-image: url('REPLACE_IMAGE:311:362');
      font-size: 1rem;
      font-weight: 400;
      font-family: Lexend, 'Source Sans Pro';
      white-space: nowrap;
      justify-content: center;
      background-repeat: no-repeat;
      background-position: center;
      width: 3.3rem;
      color: #fffbfb;
      align-items: center;
      height: 3.1rem;
      text-align: center;
      flex-shrink: 0;
      margin-bottom: 0.1rem;
      display: flex;
    }
  }
  .auto-group-dqte-54W {
    position: relative;
    flex-shrink: 0;
    margin: 0rem 5.1rem 5.9rem 4.8rem;
    width: calc(100% - 9.9rem);
    height: 32.3rem;

    .rectangle-236-CQ2 {
      background-color: #38b6ff;
      border-radius: 0.7rem;
      width: 27.6rem;
      height: 21.8rem;
      position: absolute;
      left: 0;
      top: 10.5rem;
    }
    .image-39-82n {
      left: 0.9rem;
      top: 0.7rem;
      object-fit: cover;
      vertical-align: top;
      width: 10.8rem;
      height: 10.9rem;
      position: absolute;
    }
    .ellipse-53-AVG {
      vertical-align: top;
      width: 14.3rem;
      height: 9.2rem;
      position: absolute;
      left: 10.4rem;
      top: 0;
      object-fit: contain;
    }
    .how-old-are-you-6dp {
      top: 2.7rem;
      font-size: 1.4rem;
      font-family: Lexend, 'Source Sans Pro';
      white-space: nowrap;
      height: 1.8rem;
      position: absolute;
      left: 11.65rem;
      text-align: center;
      font-weight: 400;
      line-height: 1.25;
      color: #ffffff;
      width: 11.8rem;
    }
    .traduce--Cgr {
      width: 5.9rem;
      height: 1.5rem;
      top: 12.9rem;
      text-align: center;
      line-height: 1.25;
      white-space: nowrap;
      position: absolute;
      left: 2.9rem;
      font-size: 1.2rem;
      font-weight: 400;
      color: #000000;
      font-family: Lexend, 'Source Sans Pro';
    }
  }
  .auto-group-umg6-WhY {
    margin-left: 15.7rem;
    font-size: 1.2rem;
    white-space: nowrap;
    height: 3.6rem;
    font-weight: 400;
    display: flex;
    background-color: #480dc5;
    width: 11.6rem;
    text-align: center;
    line-height: 1.25;
    font-family: Lexend, 'Source Sans Pro';
    align-items: center;
    flex-shrink: 0;
    color: #ffffff;
    justify-content: center;
    border-radius: 1rem;
  }
}
