
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 37.5rem;
}.pregunta-ocho-vocabulario-Tjg {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #000000;
  padding-bottom: 8.8rem;
  overflow: hidden;
  position: relative;
  align-items: center;

  .auto-group-1czp-Nre {
    width: calc(100% - 0.1rem);
    margin: 0rem 0.1rem 1.2rem 0rem;
    padding: 1.4rem 2.4rem 1.7rem 5.7rem;
    height: 6.3rem;
    display: flex;
    align-items: center;
    background-color: #111010;
    flex-shrink: 0;
    box-sizing: border-box;

    .vocabulario-idioma-TdC {
      margin: 0.6rem 8.2rem 0rem 0rem;
      text-align: center;
      font-family: Lexend, 'Source Sans Pro';
      flex-shrink: 0;
      font-size: 0.8rem;
      font-weight: 400;
      line-height: 1.25;
      color: #f9f9f9;
      white-space: nowrap;
    }
    .logoayuda-k6W {
      flex-shrink: 0;
      margin: 0.2rem 0.9rem 0.2rem 0rem;
      height: calc(100% - 0.4rem);
      cursor: pointer;

      .baselinehelpwhite24dp-21-gF4 {
        object-fit: cover;
        vertical-align: top;
        width: 3rem;
        height: 2.8rem;
      }
    }
    .component-2-DVt {
      cursor: pointer;
      flex-shrink: 0;
      margin-right: 0.9rem;
      width: 4.5rem;
      height: 100%;

      .group-1-m1c {
        height: 100%;
        position: relative;
        width: 100%;

        .baselinearrowdropdownwhite24dp-26-ihY {
          position: absolute;
          left: 0;
          top: 0.5rem;
          object-fit: cover;
          vertical-align: top;
          width: 1.8rem;
          height: 2.2rem;
        }
        .baselinepersonwhite24dp-51-2TL {
          position: absolute;
          left: 0.9rem;
          top: 0;
          object-fit: cover;
          vertical-align: top;
          width: 3.6rem;
          height: 3.2rem;
        }
      }
    }
    .component-1-9Xx {
      margin: 0.2rem 0rem 0.1rem 0rem;
      height: calc(100% - 0.3rem);
      cursor: pointer;
      flex-shrink: 0;

      .baselinemenuwhite24dp-20-gnn {
        object-fit: cover;
        vertical-align: top;
        width: 3.1rem;
        height: 2.9rem;
      }
    }
  }
  .auto-group-f5ij-ber {
    align-items: center;
    flex-shrink: 0;
    margin: 0rem 1.5rem 5.5rem 3.95rem;
    width: calc(100% - 5.45rem);
    height: 3.1rem;
    display: flex;

    .traduce-uQe {
      margin: 0.2rem 20.45rem 0rem 0rem;
      text-align: center;
      font-size: 1.8rem;
      font-weight: 400;
      font-family: Lexend, 'Source Sans Pro';
      line-height: 1.25;
      color: #38b6ff;
      white-space: nowrap;
      flex-shrink: 0;
    }
    .auto-group-se5q-QcJ {
      background-size: cover;
      text-align: center;
      font-weight: 400;
      display: flex;
      align-items: center;
      font-size: 1rem;
      justify-content: center;
      background-repeat: no-repeat;
      background-image: url('REPLACE_IMAGE:315:392');
      width: 3.3rem;
      height: 100%;
      line-height: 1.25;
      color: #fffbfb;
      font-family: Lexend, 'Source Sans Pro';
      white-space: nowrap;
      background-position: center;
      flex-shrink: 0;
    }
  }
  .auto-group-zkps-ZNi {
    height: 32.3rem;
    position: relative;
    flex-shrink: 0;
    margin: 0rem 5.1rem 5.9rem 4.8rem;
    width: calc(100% - 9.9rem);

    .rectangle-236-fge {
      top: 10.5rem;
      background-color: #38b6ff;
      border-radius: 0.7rem;
      width: 27.6rem;
      height: 21.8rem;
      position: absolute;
      left: 0;
    }
    .image-39-CAn {
      vertical-align: top;
      width: 10.8rem;
      height: 10.9rem;
      position: absolute;
      left: 0.9rem;
      top: 0.7rem;
      object-fit: cover;
    }
    .ellipse-53-WhG {
      height: 9.2rem;
      position: absolute;
      left: 10.4rem;
      top: 0;
      object-fit: contain;
      vertical-align: top;
      width: 14.3rem;
    }
    .pregunta-T6i {
      white-space: nowrap;
      width: 6.3rem;
      top: 3.8rem;
      text-align: center;
      font-size: 1.4rem;
      font-weight: 400;
      font-family: Lexend, 'Source Sans Pro';
      height: 1.8rem;
      position: absolute;
      left: 14.65rem;
      line-height: 1.25;
      color: #ffffff;
    }
    .traduce--Z9k {
      width: 5.9rem;
      height: 1.5rem;
      left: 2.9rem;
      top: 12.9rem;
      text-align: center;
      font-size: 1.2rem;
      font-family: Lexend, 'Source Sans Pro';
      position: absolute;
      font-weight: 400;
      line-height: 1.25;
      color: #000000;
      white-space: nowrap;
    }
  }
  .auto-group-n4ae-Tkv {
    font-weight: 400;
    align-items: center;
    justify-content: center;
    margin-left: 15.7rem;
    font-size: 1.2rem;
    white-space: nowrap;
    background-color: #480dc5;
    border-radius: 1rem;
    width: 11.6rem;
    flex-shrink: 0;
    height: 3.6rem;
    text-align: center;
    line-height: 1.25;
    color: #ffffff;
    font-family: Lexend, 'Source Sans Pro';
    display: flex;
  }
}
