
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 37.5rem;
}.pregunta-seis-espaol-Xwx {
  background-color: #000000;
  box-sizing: border-box;
  padding-bottom: 8.8rem;
  overflow: hidden;
  align-items: center;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;

  .auto-group-duot-Tqc {
    padding: 1.4rem 2.4rem 1.7rem 3.05rem;
    width: calc(100% - 0.1rem);
    height: 6.3rem;
    display: flex;
    align-items: center;
    background-color: #111010;
    flex-shrink: 0;
    box-sizing: border-box;
    margin: 0rem 0.1rem 1.5rem 0rem;

    .traducir-frases-de-espaol-idioma-MRC {
      margin: 0.6rem 5.55rem 0rem 0rem;
      font-size: 0.8rem;
      color: #f9f9f9;
      font-family: Lexend, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      text-align: center;
      font-weight: 400;
      line-height: 1.25;
    }
    .logoayuda-ShY {
      margin: 0.2rem 0.9rem 0.2rem 0rem;
      height: calc(100% - 0.4rem);
      cursor: pointer;
      flex-shrink: 0;

      .baselinehelpwhite24dp-21-aok {
        object-fit: cover;
        vertical-align: top;
        width: 3rem;
        height: 2.8rem;
      }
    }
    .component-2-7og {
      margin-right: 0.9rem;
      width: 4.5rem;
      height: 100%;
      cursor: pointer;
      flex-shrink: 0;

      .group-1-Gga {
        width: 100%;
        height: 100%;
        position: relative;

        .baselinearrowdropdownwhite24dp-26-2ve {
          vertical-align: top;
          width: 1.8rem;
          height: 2.2rem;
          position: absolute;
          left: 0;
          top: 0.5rem;
          object-fit: cover;
        }
        .baselinepersonwhite24dp-51-k5x {
          height: 3.2rem;
          position: absolute;
          left: 0.9rem;
          top: 0;
          object-fit: cover;
          vertical-align: top;
          width: 3.6rem;
        }
      }
    }
    .component-1-xxi {
      margin: 0.2rem 0rem 0.1rem 0rem;
      height: calc(100% - 0.3rem);
      cursor: pointer;
      flex-shrink: 0;

      .baselinemenuwhite24dp-20-6Z8 {
        width: 3.1rem;
        height: 2.9rem;
        object-fit: cover;
        vertical-align: top;
      }
    }
  }
  .auto-group-y9v2-2Sn {
    flex-shrink: 0;
    margin: 0rem 2.3rem 5.2rem 3.95rem;
    width: calc(100% - 6.25rem);
    height: 3.1rem;
    display: flex;
    align-items: center;

    .traduce-9GW {
      color: #38b6ff;
      font-family: Lexend, 'Source Sans Pro';
      flex-shrink: 0;
      margin: 0rem 19.65rem 0.4rem 0rem;
      font-size: 1.8rem;
      line-height: 1.25;
      text-align: center;
      font-weight: 400;
      white-space: nowrap;
    }
    .auto-group-qviz-rgi {
      white-space: nowrap;
      display: flex;
      background-repeat: no-repeat;
      background-image: url('REPLACE_IMAGE:311:329');
      font-family: Lexend, 'Source Sans Pro';
      width: 3.3rem;
      text-align: center;
      font-size: 1rem;
      line-height: 1.25;
      color: #fffbfb;
      align-items: center;
      background-size: cover;
      height: 100%;
      font-weight: 400;
      justify-content: center;
      background-position: center;
      flex-shrink: 0;
    }
  }
  .auto-group-uqnr-wCN {
    height: 32.3rem;
    position: relative;
    flex-shrink: 0;
    margin: 0rem 5.1rem 5.9rem 4.8rem;
    width: calc(100% - 9.9rem);

    .rectangle-236-TAi {
      height: 21.8rem;
      position: absolute;
      left: 0;
      top: 10.5rem;
      background-color: #38b6ff;
      border-radius: 0.7rem;
      width: 27.6rem;
    }
    .image-39-yuk {
      width: 10.8rem;
      height: 10.9rem;
      position: absolute;
      left: 0.9rem;
      top: 0.7rem;
      object-fit: cover;
      vertical-align: top;
    }
    .ellipse-53-v4J {
      width: 14.3rem;
      height: 9.2rem;
      position: absolute;
      left: 10.4rem;
      top: 0;
      object-fit: contain;
      vertical-align: top;
    }
    .cuntos-aos-tienes-38v {
      font-size: 1.4rem;
      line-height: 1.25;
      width: 10rem;
      text-align: center;
      left: 12.55rem;
      top: 2.7rem;
      font-weight: 400;
      color: #ffffff;
      font-family: Lexend, 'Source Sans Pro';
      height: 3.5rem;
      position: absolute;
    }
    .traduce--YLa {
      height: 1.5rem;
      position: absolute;
      left: 2.9rem;
      top: 12.9rem;
      line-height: 1.25;
      color: #000000;
      font-family: Lexend, 'Source Sans Pro';
      white-space: nowrap;
      width: 5.9rem;
      text-align: center;
      font-size: 1.2rem;
      font-weight: 400;
    }
  }
  .auto-group-kakl-Fkn {
    color: #ffffff;
    white-space: nowrap;
    justify-content: center;
    margin-left: 15.7rem;
    height: 3.6rem;
    text-align: center;
    line-height: 1.25;
    align-items: center;
    flex-shrink: 0;
    background-color: #480dc5;
    border-radius: 1rem;
    width: 11.6rem;
    font-size: 1.2rem;
    font-weight: 400;
    font-family: Lexend, 'Source Sans Pro';
    display: flex;
  }
}
