
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 37.5rem;
}.pregunta-dos-vocabulario-9uU {
  box-sizing: border-box;
  padding-bottom: 8.8rem;
  display: flex;
  flex-direction: column;
  background-color: #000000;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;

  .auto-group-tt5x-HEz {
    height: 6.3rem;
    display: flex;
    align-items: center;
    margin: 0rem 0.1rem 1.2rem 0rem;
    width: calc(100% - 0.1rem);
    background-color: #111010;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 1.4rem 2.4rem 1.7rem 5.7rem;

    .vocabulario-idioma-ZyC {
      margin: 0.6rem 8.2rem 0rem 0rem;
      font-size: 0.8rem;
      font-weight: 400;
      font-family: Lexend, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      text-align: center;
      line-height: 1.25;
      color: #f9f9f9;
    }
    .logoayuda-siz {
      margin: 0.2rem 0.9rem 0.2rem 0rem;
      height: calc(100% - 0.4rem);
      cursor: pointer;
      flex-shrink: 0;

      .baselinehelpwhite24dp-21-DH4 {
        vertical-align: top;
        width: 3rem;
        height: 2.8rem;
        object-fit: cover;
      }
    }
    .component-2-wTx {
      margin-right: 0.9rem;
      width: 4.5rem;
      height: 100%;
      cursor: pointer;
      flex-shrink: 0;

      .group-1-VVU {
        width: 100%;
        height: 100%;
        position: relative;

        .baselinearrowdropdownwhite24dp-26-rav {
          width: 1.8rem;
          height: 2.2rem;
          position: absolute;
          left: 0;
          top: 0.5rem;
          object-fit: cover;
          vertical-align: top;
        }
        .baselinepersonwhite24dp-51-mxn {
          left: 0.9rem;
          top: 0;
          object-fit: cover;
          vertical-align: top;
          width: 3.6rem;
          height: 3.2rem;
          position: absolute;
        }
      }
    }
    .component-1-hLe {
      height: calc(100% - 0.3rem);
      cursor: pointer;
      flex-shrink: 0;
      margin: 0.2rem 0rem 0.1rem 0rem;

      .baselinemenuwhite24dp-20-qBx {
        width: 3.1rem;
        height: 2.9rem;
        object-fit: cover;
        vertical-align: top;
      }
    }
  }
  .auto-group-kn18-xXU {
    height: 3.1rem;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    margin: 0rem 1.5rem 5.5rem 3.95rem;
    width: calc(100% - 5.45rem);

    .traduce-5c6 {
      flex-shrink: 0;
      margin: 0.2rem 20.45rem 0rem 0rem;
      font-size: 1.8rem;
      font-weight: 400;
      line-height: 1.25;
      white-space: nowrap;
      text-align: center;
      color: #38b6ff;
      font-family: Lexend, 'Source Sans Pro';
    }
    .auto-group-eu14-yxN {
      height: 100%;
      background-position: center;
      background-repeat: no-repeat;
      font-weight: 400;
      line-height: 1.25;
      white-space: nowrap;
      align-items: center;
      background-size: cover;
      display: flex;
      justify-content: center;
      background-image: url('REPLACE_IMAGE:315:376');
      width: 3.3rem;
      text-align: center;
      font-size: 1rem;
      color: #fffbfb;
      font-family: Lexend, 'Source Sans Pro';
      flex-shrink: 0;
    }
  }
  .auto-group-kez8-TMk {
    position: relative;
    flex-shrink: 0;
    margin: 0rem 5.1rem 5.9rem 4.8rem;
    width: calc(100% - 9.9rem);
    height: 32.3rem;

    .rectangle-236-mtE {
      border-radius: 0.7rem;
      width: 27.6rem;
      height: 21.8rem;
      position: absolute;
      left: 0;
      top: 10.5rem;
      background-color: #38b6ff;
    }
    .image-39-W58 {
      vertical-align: top;
      width: 10.8rem;
      height: 10.9rem;
      position: absolute;
      left: 0.9rem;
      top: 0.7rem;
      object-fit: cover;
    }
    .ellipse-53-pbc {
      vertical-align: top;
      width: 14.3rem;
      height: 9.2rem;
      position: absolute;
      left: 10.4rem;
      top: 0;
      object-fit: contain;
    }
    .casa-xSv {
      color: #ffffff;
      font-family: Lexend, 'Source Sans Pro';
      height: 1.8rem;
      top: 3.7rem;
      font-size: 1.4rem;
      font-weight: 400;
      line-height: 1.25;
      white-space: nowrap;
      width: 3.4rem;
      position: absolute;
      left: 15.95rem;
      text-align: center;
    }
    .traduce--sJz {
      width: 5.9rem;
      position: absolute;
      top: 12.9rem;
      color: #000000;
      font-weight: 400;
      line-height: 1.25;
      font-family: Lexend, 'Source Sans Pro';
      white-space: nowrap;
      height: 1.5rem;
      left: 2.9rem;
      text-align: center;
      font-size: 1.2rem;
    }
  }
  .auto-group-vwyl-NmY {
    flex-shrink: 0;
    text-align: center;
    font-weight: 400;
    font-family: Lexend, 'Source Sans Pro';
    align-items: center;
    line-height: 1.25;
    height: 3.6rem;
    background-color: #480dc5;
    white-space: nowrap;
    display: flex;
    justify-content: center;
    border-radius: 1rem;
    margin-left: 15.7rem;
    width: 11.6rem;
    font-size: 1.2rem;
    color: #ffffff;
  }
}
