
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 37.5rem;
}.pregunta-dos-idioma-A9Y {
  width: 100%;
  overflow: hidden;
  display: flex;
  background-color: #000000;
  padding-bottom: 8.8rem;
  position: relative;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;

  .auto-group-wkra-gta {
    align-items: center;
    background-color: #111010;
    margin: 0rem 0.1rem 1.2rem 0rem;
    height: 6.3rem;
    width: calc(100% - 0.1rem);
    display: flex;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 1.4rem 2.4rem 1.7rem 2.8rem;

    .traducir-frases-de-idioma-espaol-y6z {
      font-family: Lexend, 'Source Sans Pro';
      flex-shrink: 0;
      font-size: 0.8rem;
      color: #f9f9f9;
      font-weight: 400;
      line-height: 1.25;
      white-space: nowrap;
      margin: 0.6rem 5.3rem 0rem 0rem;
      text-align: center;
    }
    .logoayuda-TH4 {
      margin: 0.2rem 0.9rem 0.2rem 0rem;
      height: calc(100% - 0.4rem);
      cursor: pointer;
      flex-shrink: 0;

      .baselinehelpwhite24dp-21-Bir {
        width: 3rem;
        height: 2.8rem;
        object-fit: cover;
        vertical-align: top;
      }
    }
    .component-2-7Mc {
      flex-shrink: 0;
      margin-right: 0.9rem;
      width: 4.5rem;
      height: 100%;
      cursor: pointer;

      .group-1-fP8 {
        width: 100%;
        height: 100%;
        position: relative;

        .baselinearrowdropdownwhite24dp-26-2Ua {
          object-fit: cover;
          vertical-align: top;
          width: 1.8rem;
          height: 2.2rem;
          position: absolute;
          left: 0;
          top: 0.5rem;
        }
        .baselinepersonwhite24dp-51-M14 {
          top: 0;
          object-fit: cover;
          vertical-align: top;
          width: 3.6rem;
          height: 3.2rem;
          position: absolute;
          left: 0.9rem;
        }
      }
    }
    .component-1-4w4 {
      margin: 0.2rem 0rem 0.1rem 0rem;
      height: calc(100% - 0.3rem);
      cursor: pointer;
      flex-shrink: 0;

      .baselinemenuwhite24dp-20-ote {
        vertical-align: top;
        width: 3.1rem;
        height: 2.9rem;
        object-fit: cover;
      }
    }
  }
  .auto-group-pzxi-Xpe {
    margin: 0rem 1.5rem 5.5rem 3.95rem;
    width: calc(100% - 5.45rem);
    height: 3.1rem;
    display: flex;
    align-items: center;
    flex-shrink: 0;

    .traduce-Swc {
      margin: 0.2rem 20.45rem 0rem 0rem;
      text-align: center;
      font-size: 1.8rem;
      font-family: Lexend, 'Source Sans Pro';
      flex-shrink: 0;
      font-weight: 400;
      line-height: 1.25;
      color: #38b6ff;
      white-space: nowrap;
    }
    .auto-group-8wd4-A6v {
      width: 3.3rem;
      height: 100%;
      line-height: 1.25;
      background-repeat: no-repeat;
      background-position: center;
      flex-shrink: 0;
      text-align: center;
      font-size: 1rem;
      font-weight: 400;
      font-family: Lexend, 'Source Sans Pro';
      white-space: nowrap;
      background-size: cover;
      color: #fffbfb;
      display: flex;
      align-items: center;
      justify-content: center;
      background-image: url('REPLACE_IMAGE:315:370');
    }
  }
  .auto-group-mgqy-Eca {
    height: 32.3rem;
    position: relative;
    flex-shrink: 0;
    margin: 0rem 5.1rem 5.9rem 4.8rem;
    width: calc(100% - 9.9rem);

    .rectangle-236-Lfc {
      width: 27.6rem;
      height: 21.8rem;
      position: absolute;
      left: 0;
      top: 10.5rem;
      background-color: #38b6ff;
      border-radius: 0.7rem;
    }
    .image-39-fSz {
      top: 0.7rem;
      object-fit: cover;
      vertical-align: top;
      width: 10.8rem;
      height: 10.9rem;
      position: absolute;
      left: 0.9rem;
    }
    .ellipse-53-zkA {
      vertical-align: top;
      width: 14.3rem;
      height: 9.2rem;
      position: absolute;
      left: 10.4rem;
      top: 0;
      object-fit: contain;
    }
    .what-is-your-name-Xzz {
      color: #ffffff;
      height: 3.5rem;
      left: 13.55rem;
      text-align: center;
      font-size: 1.4rem;
      line-height: 1.25;
      width: 8.6rem;
      position: absolute;
      top: 2.6rem;
      font-weight: 400;
      font-family: Lexend, 'Source Sans Pro';
    }
    .traduce--qVt {
      white-space: nowrap;
      width: 5.9rem;
      position: absolute;
      left: 2.9rem;
      top: 12.9rem;
      text-align: center;
      line-height: 1.25;
      color: #000000;
      height: 1.5rem;
      font-size: 1.2rem;
      font-weight: 400;
      font-family: Lexend, 'Source Sans Pro';
    }
  }
  .auto-group-nrhl-LhY {
    width: 11.6rem;
    font-size: 1.2rem;
    line-height: 1.25;
    border-radius: 1rem;
    text-align: center;
    white-space: nowrap;
    display: flex;
    align-items: center;
    background-color: #480dc5;
    margin-left: 15.7rem;
    height: 3.6rem;
    color: #ffffff;
    font-family: Lexend, 'Source Sans Pro';
    font-weight: 400;
    justify-content: center;
    flex-shrink: 0;
  }
}
