
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 37.5rem;
}.pregunta-ocho-idioma-fEa {
  width: 100%;
  overflow: hidden;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  padding-bottom: 8.8rem;
  position: relative;
  display: flex;
  background-color: #000000;

  .auto-group-vfbp-zGr {
    margin: 0rem 0.1rem 0.8rem 0rem;
    padding: 1.4rem 2.4rem 1.7rem 2.8rem;
    width: calc(100% - 0.1rem);
    height: 6.3rem;
    display: flex;
    flex-shrink: 0;
    box-sizing: border-box;
    align-items: center;
    background-color: #111010;

    .traducir-frases-de-idioma-espaol-5p6 {
      font-family: Lexend, 'Source Sans Pro';
      margin: 0.6rem 5.3rem 0rem 0rem;
      line-height: 1.25;
      font-weight: 400;
      color: #f9f9f9;
      white-space: nowrap;
      flex-shrink: 0;
      text-align: center;
      font-size: 0.8rem;
    }
    .logoayuda-mgv {
      margin: 0.2rem 0.9rem 0.2rem 0rem;
      height: calc(100% - 0.4rem);
      cursor: pointer;
      flex-shrink: 0;

      .baselinehelpwhite24dp-21-Vcv {
        object-fit: cover;
        vertical-align: top;
        width: 3rem;
        height: 2.8rem;
      }
    }
    .component-2-S2N {
      margin-right: 0.9rem;
      width: 4.5rem;
      height: 100%;
      cursor: pointer;
      flex-shrink: 0;

      .group-1-PCW {
        width: 100%;
        height: 100%;
        position: relative;

        .baselinearrowdropdownwhite24dp-26-M9L {
          width: 1.8rem;
          height: 2.2rem;
          position: absolute;
          left: 0;
          top: 0.5rem;
          object-fit: cover;
          vertical-align: top;
        }
        .baselinepersonwhite24dp-51-r66 {
          top: 0;
          object-fit: cover;
          vertical-align: top;
          width: 3.6rem;
          height: 3.2rem;
          position: absolute;
          left: 0.9rem;
        }
      }
    }
    .component-1-AMg {
      cursor: pointer;
      flex-shrink: 0;
      margin: 0.2rem 0rem 0.1rem 0rem;
      height: calc(100% - 0.3rem);

      .baselinemenuwhite24dp-20-hcW {
        width: 3.1rem;
        height: 2.9rem;
        object-fit: cover;
        vertical-align: top;
      }
    }
  }
  .auto-group-plsn-28z {
    margin: 0rem 1.5rem 5.8rem 3.95rem;
    width: calc(100% - 5.45rem);
    display: flex;
    align-items: flex-end;
    flex-shrink: 0;

    .traduce-wmk {
      white-space: nowrap;
      text-align: center;
      font-size: 1.8rem;
      line-height: 1.25;
      color: #38b6ff;
      margin-right: 20.45rem;
      font-weight: 400;
      font-family: Lexend, 'Source Sans Pro';
      flex-shrink: 0;
    }
    .auto-group-p5px-GZ8 {
      text-align: center;
      line-height: 1.25;
      color: #fffbfb;
      align-items: center;
      justify-content: center;
      background-size: cover;
      flex-shrink: 0;
      width: 3.3rem;
      height: 3.1rem;
      font-size: 1rem;
      font-family: Lexend, 'Source Sans Pro';
      white-space: nowrap;
      background-position: center;
      background-image: url('REPLACE_IMAGE:311:358');
      margin-bottom: 0.1rem;
      font-weight: 400;
      display: flex;
      background-repeat: no-repeat;
    }
  }
  .auto-group-2p6e-vta {
    flex-shrink: 0;
    margin: 0rem 5.1rem 5.9rem 4.8rem;
    width: calc(100% - 9.9rem);
    height: 32.3rem;
    position: relative;

    .rectangle-236-FR4 {
      height: 21.8rem;
      position: absolute;
      left: 0;
      top: 10.5rem;
      background-color: #38b6ff;
      border-radius: 0.7rem;
      width: 27.6rem;
    }
    .image-39-Nka {
      position: absolute;
      left: 0.9rem;
      top: 0.7rem;
      object-fit: cover;
      vertical-align: top;
      width: 10.8rem;
      height: 10.9rem;
    }
    .ellipse-53-7CN {
      width: 14.3rem;
      height: 9.2rem;
      position: absolute;
      left: 10.4rem;
      top: 0;
      object-fit: contain;
      vertical-align: top;
    }
    .are-you-working-3bp {
      position: absolute;
      text-align: center;
      font-size: 1.4rem;
      font-weight: 400;
      color: #ffffff;
      font-family: Lexend, 'Source Sans Pro';
      width: 6.2rem;
      left: 14.75rem;
      top: 2.6rem;
      line-height: 1.25;
      height: 3.5rem;
    }
    .traduce--xCz {
      width: 5.9rem;
      top: 12.9rem;
      font-size: 1.2rem;
      line-height: 1.25;
      font-family: Lexend, 'Source Sans Pro';
      white-space: nowrap;
      height: 1.5rem;
      position: absolute;
      left: 2.9rem;
      text-align: center;
      font-weight: 400;
      color: #000000;
    }
  }
  .auto-group-6jdc-Fxn {
    margin-left: 15.7rem;
    height: 3.6rem;
    font-weight: 400;
    align-items: center;
    width: 11.6rem;
    line-height: 1.25;
    font-family: Lexend, 'Source Sans Pro';
    white-space: nowrap;
    border-radius: 1rem;
    flex-shrink: 0;
    font-size: 1.2rem;
    color: #ffffff;
    display: flex;
    background-color: #480dc5;
    text-align: center;
    justify-content: center;
  }
}
