
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 37.5rem;
}.pregunta-siete-espaol-vMG {
  width: 100%;
  position: relative;
  align-items: center;
  flex-direction: column;
  padding-bottom: 8.8rem;
  overflow: hidden;
  display: flex;
  background-color: #000000;
  box-sizing: border-box;

  .auto-group-cxfc-eYA {
    margin: 0rem 0.1rem 1.5rem 0rem;
    padding: 1.4rem 2.4rem 1.7rem 3.05rem;
    width: calc(100% - 0.1rem);
    align-items: center;
    background-color: #111010;
    flex-shrink: 0;
    box-sizing: border-box;
    height: 6.3rem;
    display: flex;

    .traducir-frases-de-espaol-idioma-X6A {
      font-size: 0.8rem;
      color: #f9f9f9;
      flex-shrink: 0;
      margin: 0.6rem 5.55rem 0rem 0rem;
      text-align: center;
      font-weight: 400;
      line-height: 1.25;
      font-family: Lexend, 'Source Sans Pro';
      white-space: nowrap;
    }
    .logoayuda-DUn {
      margin: 0.2rem 0.9rem 0.2rem 0rem;
      height: calc(100% - 0.4rem);
      cursor: pointer;
      flex-shrink: 0;

      .baselinehelpwhite24dp-21-ML6 {
        vertical-align: top;
        width: 3rem;
        height: 2.8rem;
        object-fit: cover;
      }
    }
    .component-2-6Hg {
      cursor: pointer;
      flex-shrink: 0;
      margin-right: 0.9rem;
      width: 4.5rem;
      height: 100%;

      .group-1-rGr {
        width: 100%;
        height: 100%;
        position: relative;

        .baselinearrowdropdownwhite24dp-26-D7Q {
          width: 1.8rem;
          height: 2.2rem;
          position: absolute;
          left: 0;
          top: 0.5rem;
          object-fit: cover;
          vertical-align: top;
        }
        .baselinepersonwhite24dp-51-ipr {
          position: absolute;
          left: 0.9rem;
          top: 0;
          object-fit: cover;
          vertical-align: top;
          width: 3.6rem;
          height: 3.2rem;
        }
      }
    }
    .component-1-quU {
      margin: 0.2rem 0rem 0.1rem 0rem;
      height: calc(100% - 0.3rem);
      cursor: pointer;
      flex-shrink: 0;

      .baselinemenuwhite24dp-20-a6N {
        object-fit: cover;
        vertical-align: top;
        width: 3.1rem;
        height: 2.9rem;
      }
    }
  }
  .auto-group-ucze-Vj8 {
    height: 3.1rem;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    margin: 0rem 2.3rem 5.2rem 3.95rem;
    width: calc(100% - 6.25rem);

    .traduce-pFc {
      margin: 0rem 19.65rem 0.4rem 0rem;
      font-weight: 400;
      line-height: 1.25;
      color: #38b6ff;
      white-space: nowrap;
      text-align: center;
      font-size: 1.8rem;
      font-family: Lexend, 'Source Sans Pro';
      flex-shrink: 0;
    }
    .auto-group-jmce-KCN {
      height: 100%;
      font-size: 1rem;
      align-items: center;
      flex-shrink: 0;
      width: 3.3rem;
      display: flex;
      background-repeat: no-repeat;
      white-space: nowrap;
      line-height: 1.25;
      color: #fffbfb;
      font-family: Lexend, 'Source Sans Pro';
      background-position: center;
      font-weight: 400;
      justify-content: center;
      background-size: cover;
      background-image: url('REPLACE_IMAGE:311:346');
      text-align: center;
    }
  }
  .auto-group-pixt-1az {
    margin: 0rem 5.1rem 5.9rem 4.8rem;
    width: calc(100% - 9.9rem);
    height: 32.3rem;
    position: relative;
    flex-shrink: 0;

    .rectangle-236-8fc {
      width: 27.6rem;
      height: 21.8rem;
      position: absolute;
      left: 0;
      top: 10.5rem;
      background-color: #38b6ff;
      border-radius: 0.7rem;
    }
    .image-39-fQe {
      height: 10.9rem;
      position: absolute;
      left: 0.9rem;
      top: 0.7rem;
      object-fit: cover;
      vertical-align: top;
      width: 10.8rem;
    }
    .ellipse-53-zxi {
      height: 9.2rem;
      position: absolute;
      left: 10.4rem;
      top: 0;
      object-fit: contain;
      vertical-align: top;
      width: 14.3rem;
    }
    .ests-estudiando-jvJ {
      height: 3.5rem;
      position: absolute;
      top: 2.6rem;
      font-size: 1.4rem;
      font-family: Lexend, 'Source Sans Pro';
      width: 8.4rem;
      left: 13.4rem;
      text-align: center;
      font-weight: 400;
      line-height: 1.25;
      color: #ffffff;
    }
    .traduce--3g6 {
      height: 1.5rem;
      position: absolute;
      left: 2.9rem;
      font-size: 1.2rem;
      line-height: 1.25;
      font-family: Lexend, 'Source Sans Pro';
      width: 5.9rem;
      text-align: center;
      font-weight: 400;
      color: #000000;
      white-space: nowrap;
      top: 12.9rem;
    }
  }
  .auto-group-qsyg-x2N {
    width: 11.6rem;
    height: 3.6rem;
    font-size: 1.2rem;
    color: #ffffff;
    display: flex;
    font-weight: 400;
    font-family: Lexend, 'Source Sans Pro';
    justify-content: center;
    margin-left: 15.7rem;
    line-height: 1.25;
    flex-shrink: 0;
    text-align: center;
    white-space: nowrap;
    align-items: center;
    background-color: #480dc5;
    border-radius: 1rem;
  }
}
