
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 37.5rem;
}.pregunta-tres-espaol-vd8 {
  padding-bottom: 8.8rem;
  overflow: hidden;
  align-items: center;
  background-color: #000000;
  box-sizing: border-box;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;

  .auto-group-xwyc-e3L {
    flex-shrink: 0;
    box-sizing: border-box;
    height: 6.3rem;
    align-items: center;
    background-color: #111010;
    margin: 0rem 0.1rem 1.5rem 0rem;
    padding: 1.4rem 2.4rem 1.7rem 3.05rem;
    width: calc(100% - 0.1rem);
    display: flex;

    .traducir-frases-de-espaol-idioma-vWe {
      text-align: center;
      font-size: 0.8rem;
      line-height: 1.25;
      color: #f9f9f9;
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0.6rem 5.55rem 0rem 0rem;
      font-weight: 400;
      font-family: Lexend, 'Source Sans Pro';
    }
    .logoayuda-Dke {
      margin: 0.2rem 0.9rem 0.2rem 0rem;
      height: calc(100% - 0.4rem);
      cursor: pointer;
      flex-shrink: 0;

      .baselinehelpwhite24dp-21-xTL {
        vertical-align: top;
        width: 3rem;
        height: 2.8rem;
        object-fit: cover;
      }
    }
    .component-2-6ZY {
      margin-right: 0.9rem;
      width: 4.5rem;
      height: 100%;
      cursor: pointer;
      flex-shrink: 0;

      .group-1-3Un {
        width: 100%;
        height: 100%;
        position: relative;

        .baselinearrowdropdownwhite24dp-26-1Rc {
          width: 1.8rem;
          height: 2.2rem;
          position: absolute;
          left: 0;
          top: 0.5rem;
          object-fit: cover;
          vertical-align: top;
        }
        .baselinepersonwhite24dp-51-KhC {
          object-fit: cover;
          vertical-align: top;
          width: 3.6rem;
          height: 3.2rem;
          position: absolute;
          left: 0.9rem;
          top: 0;
        }
      }
    }
    .component-1-SWv {
      cursor: pointer;
      flex-shrink: 0;
      margin: 0.2rem 0rem 0.1rem 0rem;
      height: calc(100% - 0.3rem);

      .baselinemenuwhite24dp-20-ad8 {
        width: 3.1rem;
        height: 2.9rem;
        object-fit: cover;
        vertical-align: top;
      }
    }
  }
  .auto-group-r2en-6La {
    margin: 0rem 2.3rem 5.2rem 3.95rem;
    width: calc(100% - 6.25rem);
    height: 3.1rem;
    display: flex;
    align-items: center;
    flex-shrink: 0;

    .traduce-1TY {
      line-height: 1.25;
      white-space: nowrap;
      flex-shrink: 0;
      color: #38b6ff;
      font-family: Lexend, 'Source Sans Pro';
      margin: 0rem 19.65rem 0.4rem 0rem;
      text-align: center;
      font-size: 1.8rem;
      font-weight: 400;
    }
    .auto-group-ixti-KUE {
      font-family: Lexend, 'Source Sans Pro';
      background-size: cover;
      background-image: url('REPLACE_IMAGE:311:323');
      flex-shrink: 0;
      width: 3.3rem;
      font-size: 1rem;
      line-height: 1.25;
      justify-content: center;
      height: 100%;
      font-weight: 400;
      white-space: nowrap;
      align-items: center;
      background-repeat: no-repeat;
      background-position: center;
      text-align: center;
      color: #fffbfb;
      display: flex;
    }
  }
  .auto-group-v7fp-jH4 {
    margin: 0rem 5.1rem 5.9rem 4.8rem;
    width: calc(100% - 9.9rem);
    height: 32.3rem;
    position: relative;
    flex-shrink: 0;

    .rectangle-236-3Ye {
      height: 21.8rem;
      position: absolute;
      left: 0;
      top: 10.5rem;
      background-color: #38b6ff;
      border-radius: 0.7rem;
      width: 27.6rem;
    }
    .image-39-B94 {
      object-fit: cover;
      vertical-align: top;
      width: 10.8rem;
      height: 10.9rem;
      position: absolute;
      left: 0.9rem;
      top: 0.7rem;
    }
    .ellipse-53-7Hc {
      position: absolute;
      left: 10.4rem;
      top: 0;
      object-fit: contain;
      vertical-align: top;
      width: 14.3rem;
      height: 9.2rem;
    }
    .dnde-naciste-T6a {
      height: 1.8rem;
      position: absolute;
      top: 2.6rem;
      font-size: 1.4rem;
      font-weight: 400;
      width: 10.5rem;
      text-align: center;
      line-height: 1.25;
      color: #ffffff;
      font-family: Lexend, 'Source Sans Pro';
      left: 12.15rem;
    }
    .traduce--MBx {
      text-align: center;
      font-size: 1.2rem;
      font-weight: 400;
      color: #000000;
      white-space: nowrap;
      width: 5.9rem;
      position: absolute;
      top: 12.9rem;
      font-family: Lexend, 'Source Sans Pro';
      height: 1.5rem;
      left: 2.9rem;
      line-height: 1.25;
    }
  }
  .auto-group-qdjx-46N {
    width: 11.6rem;
    font-size: 1.2rem;
    font-family: Lexend, 'Source Sans Pro';
    align-items: center;
    flex-shrink: 0;
    text-align: center;
    font-weight: 400;
    color: #ffffff;
    border-radius: 1rem;
    margin-left: 15.7rem;
    height: 3.6rem;
    line-height: 1.25;
    white-space: nowrap;
    display: flex;
    justify-content: center;
    background-color: #480dc5;
  }
}
