
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 37.5rem;
}.pregunta-uno-espaol-pnE {
  background-color: #000000;
  box-sizing: border-box;
  position: relative;
  align-items: center;
  flex-direction: column;
  padding-bottom: 8.8rem;
  width: 100%;
  overflow: hidden;
  display: flex;

  .auto-group-xznn-Yy8 {
    align-items: center;
    margin: 0rem 0.1rem 1.5rem 0rem;
    box-sizing: border-box;
    padding: 1.4rem 2.4rem 1.7rem 3.05rem;
    width: calc(100% - 0.1rem);
    display: flex;
    height: 6.3rem;
    background-color: #111010;
    flex-shrink: 0;

    .traducir-frases-de-espaol-idioma-Soc {
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0.6rem 5.55rem 0rem 0rem;
      text-align: center;
      font-size: 0.8rem;
      line-height: 1.25;
      color: #f9f9f9;
      font-weight: 400;
      font-family: Lexend, 'Source Sans Pro';
    }
    .logoayuda-9T8 {
      margin: 0.2rem 0.9rem 0.2rem 0rem;
      height: calc(100% - 0.4rem);
      cursor: pointer;
      flex-shrink: 0;

      .baselinehelpwhite24dp-21-t9p {
        width: 3rem;
        height: 2.8rem;
        object-fit: cover;
        vertical-align: top;
      }
    }
    .component-2-pJN {
      width: 4.5rem;
      height: 100%;
      cursor: pointer;
      flex-shrink: 0;
      margin-right: 0.9rem;

      .group-1-N4z {
        width: 100%;
        height: 100%;
        position: relative;

        .baselinearrowdropdownwhite24dp-26-vcJ {
          height: 2.2rem;
          position: absolute;
          left: 0;
          top: 0.5rem;
          object-fit: cover;
          vertical-align: top;
          width: 1.8rem;
        }
        .baselinepersonwhite24dp-51-rF4 {
          width: 3.6rem;
          height: 3.2rem;
          position: absolute;
          left: 0.9rem;
          top: 0;
          object-fit: cover;
          vertical-align: top;
        }
      }
    }
    .component-1-ZvA {
      cursor: pointer;
      flex-shrink: 0;
      margin: 0.2rem 0rem 0.1rem 0rem;
      height: calc(100% - 0.3rem);

      .baselinemenuwhite24dp-20-Jsk {
        width: 3.1rem;
        height: 2.9rem;
        object-fit: cover;
        vertical-align: top;
      }
    }
  }
  .auto-group-s4xk-dv2 {
    width: calc(100% - 6.05rem);
    display: flex;
    align-items: flex-end;
    flex-shrink: 0;
    margin: 0rem 2.3rem 5.1rem 3.75rem;

    .traduce-a4a {
      font-size: 1.8rem;
      color: #38b6ff;
      margin-right: 19.85rem;
      text-align: center;
      font-weight: 400;
      line-height: 1.25;
      font-family: Lexend, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
    }
    .auto-group-eoes-VhL {
      flex-shrink: 0;
      font-size: 1rem;
      line-height: 1.25;
      color: #fffbfb;
      align-items: center;
      justify-content: center;
      background-repeat: no-repeat;
      margin-bottom: 0.1rem;
      text-align: center;
      font-weight: 400;
      background-position: center;
      width: 3.3rem;
      font-family: Lexend, 'Source Sans Pro';
      display: flex;
      background-image: url('REPLACE_IMAGE:311:317');
      height: 3.1rem;
      white-space: nowrap;
      background-size: cover;
    }
  }
  .auto-group-dwle-m94 {
    width: calc(100% - 9.9rem);
    height: 32.3rem;
    position: relative;
    flex-shrink: 0;
    margin: 0rem 5.1rem 5.9rem 4.8rem;

    .rectangle-236-gWv {
      position: absolute;
      left: 0;
      top: 10.5rem;
      background-color: #38b6ff;
      border-radius: 0.7rem;
      width: 27.6rem;
      height: 21.8rem;
    }
    .image-39-orS {
      vertical-align: top;
      width: 10.8rem;
      height: 10.9rem;
      position: absolute;
      left: 0.9rem;
      top: 0.7rem;
      object-fit: cover;
    }
    .ellipse-53-jzz {
      height: 9.2rem;
      position: absolute;
      left: 10.4rem;
      top: 0;
      object-fit: contain;
      vertical-align: top;
      width: 14.3rem;
    }
    .cmo-estas-64r {
      height: 1.8rem;
      position: absolute;
      text-align: center;
      font-size: 1.4rem;
      white-space: nowrap;
      font-family: Lexend, 'Source Sans Pro';
      width: 9.4rem;
      left: 12.9rem;
      top: 3.6rem;
      font-weight: 400;
      line-height: 1.25;
      color: #ffffff;
    }
    .traduce--bXQ {
      font-family: Lexend, 'Source Sans Pro';
      font-size: 1.2rem;
      font-weight: 400;
      line-height: 1.25;
      color: #000000;
      top: 12.9rem;
      text-align: center;
      white-space: nowrap;
      width: 5.9rem;
      height: 1.5rem;
      position: absolute;
      left: 2.9rem;
    }
  }
  .auto-group-ksej-Vcn {
    color: #ffffff;
    font-family: Lexend, 'Source Sans Pro';
    white-space: nowrap;
    margin-left: 15.7rem;
    width: 11.6rem;
    text-align: center;
    font-size: 1.2rem;
    border-radius: 1rem;
    font-weight: 400;
    align-items: center;
    justify-content: center;
    background-color: #480dc5;
    height: 3.6rem;
    line-height: 1.25;
    display: flex;
    flex-shrink: 0;
  }
}
