
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 37.5rem;
}.puntaje-ywx {
  width: 100%;
  height: 66.7rem;
  position: relative;
  overflow: hidden;
  background-color: #000000;

  .auto-group-zbzk-XMC {
    position: absolute;
    left: 0;
    top: 0;
    background-color: #111010;
    padding: 1.4rem 2.4rem 1.7rem 22.7rem;
    width: 37.5rem;
    height: 6.3rem;
    display: flex;
    column-gap: 0.9rem;
    align-items: center;
    box-sizing: border-box;

    .logoayuda-vw4 {
      cursor: pointer;
      flex-shrink: 0;
      margin: 0.2rem 0;
      height: calc(100% - 0.4rem);

      .baselinehelpwhite24dp-21-1xW {
        width: 3rem;
        height: 2.8rem;
        object-fit: cover;
        vertical-align: top;
      }
    }
    .component-2-4A6 {
      width: 4.5rem;
      height: 100%;
      cursor: pointer;
      flex-shrink: 0;

      .group-1-AD8 {
        width: 100%;
        height: 100%;
        position: relative;

        .baselinearrowdropdownwhite24dp-26-hD4 {
          width: 1.8rem;
          height: 2.2rem;
          position: absolute;
          left: 0;
          top: 0.5rem;
          object-fit: cover;
          vertical-align: top;
        }
        .baselinepersonwhite24dp-51-kh8 {
          object-fit: cover;
          vertical-align: top;
          width: 3.6rem;
          height: 3.2rem;
          position: absolute;
          left: 0.9rem;
          top: 0;
        }
      }
    }
    .component-1-cUS {
      margin: 0.2rem 0rem 0.1rem 0rem;
      height: calc(100% - 0.3rem);
      cursor: pointer;
      flex-shrink: 0;

      .baselinemenuwhite24dp-20-tgr {
        object-fit: cover;
        vertical-align: top;
        width: 3.1rem;
        height: 2.9rem;
      }
    }
  }
  .felicidades-M4e {
    color: #38b6ff;
    font-family: Lexend, 'Source Sans Pro';
    width: 15.5rem;
    height: 3.3rem;
    left: 11.1rem;
    text-align: center;
    font-size: 2.6rem;
    line-height: 1.25;
    white-space: nowrap;
    position: absolute;
    top: 9.8rem;
    font-weight: 400;
  }
  .tu-puntaje-es-de-tyg {
    font-size: 1.4rem;
    font-weight: 400;
    color: #fcfffe;
    font-family: Lexend, 'Source Sans Pro';
    white-space: nowrap;
    height: 1.8rem;
    top: 13.7rem;
    left: 13.2rem;
    line-height: 1.25;
    width: 12.1rem;
    position: absolute;
  }
  .auto-group-4qbc-utn {
    width: 20rem;
    height: 18.7rem;
    position: absolute;
    left: 8.4rem;
    top: 19.1rem;

    .item-20-yNr {
      position: absolute;
      font-weight: 400;
      color: #fcfffe;
      font-family: Lexend, 'Source Sans Pro';
      font-size: 1.4rem;
      line-height: 1.25;
      white-space: nowrap;
      width: 2.8rem;
      height: 1.8rem;
      left: 8.8rem;
      top: 8.2rem;
    }
    .image-48-1KY {
      width: 20rem;
      height: 18.7rem;
      position: absolute;
      left: 0;
      top: 0;
      object-fit: cover;
      vertical-align: top;
    }
  }
  .auto-group-nlqx-KLE {
    justify-content: center;
    border-radius: 1rem;
    font-size: 1.2rem;
    color: #ffffff;
    white-space: nowrap;
    display: flex;
    align-items: center;
    background-color: #480dc5;
    height: 3.6rem;
    left: 9.2rem;
    line-height: 1.25;
    position: absolute;
    text-align: center;
    font-family: Lexend, 'Source Sans Pro';
    width: 18.3rem;
    top: 44.5rem;
    font-weight: 400;
  }
  .auto-group-r6ae-4x2 {
    display: flex;
    position: absolute;
    left: 9.2rem;
    text-align: center;
    color: #ffffff;
    justify-content: center;
    background-color: #480dc5;
    height: 3.6rem;
    top: 50.4rem;
    font-family: Lexend, 'Source Sans Pro';
    white-space: nowrap;
    border-radius: 1rem;
    width: 18.3rem;
    font-weight: 400;
    line-height: 1.25;
    align-items: center;
    font-size: 1.2rem;
  }
  .auto-group-frzq-HJz {
    line-height: 1.25;
    top: 60.9rem;
    font-size: 1.2rem;
    font-family: Lexend, 'Source Sans Pro';
    background-color: #480dc5;
    position: absolute;
    left: 24.2rem;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    white-space: nowrap;
    display: flex;
    width: 11.6rem;
    height: 3.6rem;
    text-align: center;
    font-weight: 400;
    color: #ffffff;
  }
}
