
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 3rem;
}.logoayuda-h22 {
  width: 100%;
  height: 2.8rem;
  cursor: pointer;
}
.logoayuda-h22 .baselinehelpwhite24dp-21-FJS {
  width: 3rem;
  height: 2.8rem;
  object-fit: cover;
  vertical-align: top;
}
