
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 37.5rem;
}.pregunta-cinco-vocabulario-CQA {
  box-sizing: border-box;
  padding-bottom: 8.8rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #000000;
}
.pregunta-cinco-vocabulario-CQA .auto-group-rtk6-KUn {
  margin: 0rem 0.1rem 1.2rem 0rem;
  box-sizing: border-box;
  padding: 1.4rem 2.4rem 1.7rem 5.7rem;
  width: calc(100% - 0.1rem);
  height: 6.3rem;
  display: flex;
  align-items: center;
  background-color: #111010;
  flex-shrink: 0;
}
.pregunta-cinco-vocabulario-CQA .auto-group-rtk6-KUn .vocabulario-idioma-CHg {
  margin: 0.6rem 8.2rem 0rem 0rem;
  text-align: center;
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 1.25;
  color: #f9f9f9;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pregunta-cinco-vocabulario-CQA .auto-group-rtk6-KUn .logoayuda-hVL {
  margin: 0.2rem 0.9rem 0.2rem 0rem;
  height: calc(100% - 0.4rem);
  cursor: pointer;
  flex-shrink: 0;
}
.pregunta-cinco-vocabulario-CQA .auto-group-rtk6-KUn .logoayuda-hVL .baselinehelpwhite24dp-21-2Xc {
  width: 3rem;
  height: 2.8rem;
  object-fit: cover;
  vertical-align: top;
}
.pregunta-cinco-vocabulario-CQA .auto-group-rtk6-KUn .component-2-ZnS {
  margin-right: 0.9rem;
  width: 4.5rem;
  height: 100%;
  cursor: pointer;
  flex-shrink: 0;
}
.pregunta-cinco-vocabulario-CQA .auto-group-rtk6-KUn .component-2-ZnS .group-1-ubQ {
  width: 100%;
  height: 100%;
  position: relative;
}
.pregunta-cinco-vocabulario-CQA .auto-group-rtk6-KUn .component-2-ZnS .group-1-ubQ .baselinearrowdropdownwhite24dp-26-UPc {
  width: 1.8rem;
  height: 2.2rem;
  position: absolute;
  left: 0;
  top: 0.5rem;
  object-fit: cover;
  vertical-align: top;
}
.pregunta-cinco-vocabulario-CQA .auto-group-rtk6-KUn .component-2-ZnS .group-1-ubQ .baselinepersonwhite24dp-51-bDL {
  width: 3.6rem;
  height: 3.2rem;
  position: absolute;
  left: 0.9rem;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.pregunta-cinco-vocabulario-CQA .auto-group-rtk6-KUn .component-1-7xN {
  margin: 0.2rem 0rem 0.1rem 0rem;
  height: calc(100% - 0.3rem);
  cursor: pointer;
  flex-shrink: 0;
}
.pregunta-cinco-vocabulario-CQA .auto-group-rtk6-KUn .component-1-7xN .baselinemenuwhite24dp-20-46v {
  width: 3.1rem;
  height: 2.9rem;
  object-fit: cover;
  vertical-align: top;
}
.pregunta-cinco-vocabulario-CQA .auto-group-1knj-N7c {
  margin: 0rem 1.5rem 5.5rem 3.95rem;
  width: calc(100% - 5.45rem);
  height: 3.1rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.pregunta-cinco-vocabulario-CQA .auto-group-1knj-N7c .traduce-gPC {
  margin: 0.2rem 20.45rem 0rem 0rem;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.25;
  color: #38b6ff;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pregunta-cinco-vocabulario-CQA .auto-group-1knj-N7c .auto-group-cu9q-BKx {
  width: 3.3rem;
  height: 100%;
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.25;
  color: #fffbfb;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/ellipse-54-Cee.png');
  flex-shrink: 0;
}
.pregunta-cinco-vocabulario-CQA .auto-group-dd6z-fkv {
  margin: 0rem 5.1rem 5.9rem 4.8rem;
  width: calc(100% - 9.9rem);
  height: 32.3rem;
  position: relative;
  flex-shrink: 0;
}
.pregunta-cinco-vocabulario-CQA .auto-group-dd6z-fkv .rectangle-236-zYJ {
  width: 27.6rem;
  height: 21.8rem;
  position: absolute;
  left: 0;
  top: 10.5rem;
  background-color: #38b6ff;
  border-radius: 0.7rem;
}
.pregunta-cinco-vocabulario-CQA .auto-group-dd6z-fkv .image-39-iz6 {
  width: 10.8rem;
  height: 10.9rem;
  position: absolute;
  left: 0.9rem;
  top: 0.7rem;
  object-fit: cover;
  vertical-align: top;
}
.pregunta-cinco-vocabulario-CQA .auto-group-dd6z-fkv .ellipse-53-2zn {
  width: 14.3rem;
  height: 9.2rem;
  position: absolute;
  left: 10.4rem;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.pregunta-cinco-vocabulario-CQA .auto-group-dd6z-fkv .tarea-aFc {
  width: 3.8rem;
  height: 1.8rem;
  position: absolute;
  left: 15.7rem;
  top: 4rem;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.25;
  color: #ffffff;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
}
.pregunta-cinco-vocabulario-CQA .auto-group-dd6z-fkv .traduce--5CN {
  width: 5.9rem;
  height: 1.5rem;
  position: absolute;
  left: 2.9rem;
  top: 12.9rem;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
}
.pregunta-cinco-vocabulario-CQA .auto-group-k8ze-mqt {
  margin-left: 15.7rem;
  width: 11.6rem;
  height: 3.6rem;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.25;
  color: #ffffff;
  font-family: Lexend, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #480dc5;
  border-radius: 1rem;
  flex-shrink: 0;
}
